# Flask Libraries
Werkzeug
Flask
webargs ~= 5.5.1
Flask-SQLAlchemy
Flask-Login
Flask-Principal

## Database
SQLAlchemy
sqlalchemy_utils
psycopg2
Flask-Migrate

# Utilities
Flask-Script

# Chess Library
git+git://github.com/theovoss/Chess.git

# time
arrow

# deployment
gunicorn

# Testing
factory-boy
pytest
